body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue","Helvetica","Calibri";
    display: flex;
    overflow: hidden;
}

nav{
    color: white;
    background-color: #2f2f2f;
    height: 32px;
    width: 100%;
    line-height: 32px;
    padding-left: 10px;
}

nav button{
    float: right;
    /* top: 10px; */
    margin-top: 8px;
    margin-right: 9px;
    
}

table{
    color: white;
    left: 0;
    top:32px;
    width: 100%;
    border-collapse: collapse;
}

td {
    vertical-align: top;
}

#propertyPanel{
    background-color: #2F2F2F;
    width: 200px;    /*WE NEED TO RESIZE IT?*/
    padding: 10px;
    height: 100%;
    color: white;
    overflow: scroll;
}

#propertyPanel h1{
    font-weight: initial;
    margin: 0;
}

#propertyPanel h3{
    font-weight: 100;
    margin-top: 0;
}

#propertyPanel h2{
    font-size: small;
    background: #f2f2f2;
    margin-left: -20px;
    width: 117%;
    box-shadow: black;
    color: black;
    padding-left: 20px;
    font-weight: normal;
}

#propertyPanel table{
    font-size: smaller;
    white-space: nowrap;
}

#propertyPanel input{
    border-radius: 2px;
    border-style: none;
    padding: 2px;
}

#propertyPanel input[type="submit"]{
    background-color: red;
    color: white;
    width: 100%;
    margin-top: 10px;
    font-size: small;
    border-style: solid;
    border-width: 0px;
    padding: 4px;
}

#componentsPanel{
    background-color: #2f2f2f;
    width: 200px;
    height: 100%;
    color: white;
    text-align: center;
    
}

#mainContent{
    /*background-color: red;*/
    /*z-index: -1;*/
    /*background-size: 20px 20px;
    background-image: linear-gradient(to right, lightgray 1px, transparent 1px), linear-gradient(to bottom, lightgray 1px, transparent 1px);*/
    overflow: scroll;
    background-color: #f2f2f2

}

.window{
    position:absolute;
    width:350;
    height: 500;
}

.window span{
    position: absolute;
    top: -20px;
    left: 0px;
}

.drawn-element{
    background:white;
    color:lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    display: block;
}

.component{
    width: 97%;
    margin-bottom: 1px;
    height: 60px;
    background-color: #F2F2F2;
    margin: auto;
    z-index: 5;
}

.stackLayout{
    width: 100%;
    display: block;
}

.component .wrapLayout{
    display: inline-block;
}

.component .absoluteLayout{
    position: absolute;
}

.drawn-element:active{
    border-color: lightblue;
}

.infoHovering{
    background-color: rgba(100,100,100,0.8);
    position: absolute;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

.infoHovering input[type="submit"]{
    color: white;
    background-color: red;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

#loadingPanel{
    position:absolute; 
    width:100%;
    height:100%; 
    top: 0;
    left:0;
    background:black;
    opacity:0.9;
    z-index:20;
}

#loadingPanel h1{
    color: white;
    text-align: center;
    position: relative;/
    top: 200px;
    font-size: 80px;
}

#consoleContainer{
    background-color: #2f2f2f;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30%;
    padding: 0;
    left: 0;
    z-index: 20;
    color: white;
}

#console{
    width: 98%;
    background-color: black;
    /* margin: 3px; */
    height: 88%;
    overflow-y: auto;
    margin: auto;
    margin-top: 5px;
    font-size: x-small;
    font-family: monospace;
}

#componentsContainer{
    overflow: scroll;
    height: 100%;
}

#fileExplorer{
    height: 20%;
    background-color: #202020;
    margin: 8px;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
    overflow: scroll;
    text-align: left;
}

#modelExplorer{
    height: 15%;
    background-color: #202020;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 2px;
    overflow: scroll;
}

#modelExplorer span{
    font-size: small;
    display: block;
    padding: 2%;
    width: 96%;
}

.secondLevelModel{
    padding: 0;
    padding-left: 10%;
    font-weight: lighter;
}

h4{
    font-size: small;
    font-weight: lighter;
    margin-bottom: 4px;
    width: 100%;
    text-align: left;
}

svg{
    position: absolute;
    z-index: 5;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
  max-height: 100%;
  background-color: #dbdbdb
}

.CodeMirror-scroll{
  height: 100%;
  max-height: 99%;
  width: 100%;
  overflow: scroll;
  position: absolute;
}

.selected-element{
    box-shadow: 0px 0px 8px 0px rgba(4,126,207,1);
}

.fancytree-container{
    height: 100%;
}